


<div id="myModaledit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style = "color: black" class="modal-title">Accept coffee!</h4>
      </div>
      <div class="modal-body form-group">
        <%= simple_form_for(@coffee_accept, html: { class: 'form-horizontal' }) do |f| %>
          <%= f.label :Your_reply %>
          <%= f.input :invite_accept,:label=> false, :as => :text , :placeholder => "Accept the invite or decline. Even if you decline it is absolutely NBD (no big deal) - just remember that politeness goes a long way and that there are amazing people to meet out there!" ,:input_html => {:rows => 3}, :class => 'form-control'%><br>
        
          <!-- Yes let's meet!<br>   <%= f.radio_button(:accepted, "true") %><br>
          Sorry not now <br>    <%= f.radio_button(:accepted, "false") %> -->
          <%=f.collection_radio_buttons :accepted, [[true, 'Yes'] ,[false, ' No']], :first, :last , :class => 'form-control'%>
         <br>
          <%= f.button :submit, "Accept invite!", :class => 'btn-info form-control', style: "display:inline" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>