


<div id="myModaledit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Accept coffee!</h4>
      </div>
      <div class="modal-body">
        <%@coffees_invited_to.each do |coffee_invited| %>
        <div class = "accepting" id="accept-form-<%=coffee_invited.id.to_s %>">
          <%= simple_form_for(coffee_invited, html: { class: 'form-horizontal form-accept-coffee' }, :input_html => {:id => '#{coffee_invited.id}'}) do |f| %>
            <%= f.input :invite_accept, :as => :text %><br>
            <!-- Yes let's meet!<br>   <%= f.radio_button(:accepted, "true") %><br>
            Sorry not now <br>    <%= f.radio_button(:accepted, "false") %> -->
            <%=f.collection_radio_buttons :accepted, [[true, 'Yes'] ,[false, ' No']], :first, :last %>
           <br>
            <%= f.button :submit, "Reply", :class => 'btn-info', style: "display:inline" %>
          <% end %>
        </div>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>