<div class="comment">
    <div class="topwrap">
      <div class="post">
      <div class="userinfo pull-left">
        <i class="fa fa-arrow-up"></i><span class="upvote-comment"> <%= comment.get_upvotes.size %> </span></p>
      </div>
        <div class="posttext pull-left">
          <p><%= comment.text %></p>
        </div>
        <div class="clearfix"></div>
        <!-- THEME CODE -->
      <button class="btn btn-primary reply-button pull-right"> Reply </button>

      <div class="textwraper reply-form">
        <%= form_tag( {controller: "comments", action: "create"}, method: "post") do %>
          <%= hidden_field_tag(:post_id, comment.post_id) %>
          <%= hidden_field_tag(:parent_id, comment.id) %>
          <%= text_area_tag :text %>
          <%= submit_tag "Reply", class: 'btn btn-primary' %>
        <% end %>
      </div>

    <div class="postinfobot">

        <div class="posted pull-left"><i class="fa fa-clock-o"></i>
          Posted by <%= link_to comment.get_commenter_name, member_path(comment.member_id)%>
          <%= time_ago_in_words(comment.created_at) %> ago
        </div>

        <div class="clearfix"></div>
    </div>
    </div>

  </div>

  <%= render partial: "comment", collection: comment.replies %>

</div>

<script>
  $('.reply-button').on('click', function(){
    $(this).closest('.post').find('.reply-form:first').show()
    // toggle?
    $(this).hide()
  })

  $('.comment-upvote')
   .on('ajax:error', function () {
     $(this).after('<div>There was an upvote issue.</div>');
   }).on('ajax:success', function (res, data) {
     var $this = $(this)
     $this.closest('.comment').find('.comment-upvote-count').text(data.vote_count)
     var current_text = $this.text()
     $this.text(data.voted_for ? "Unvote" : "Upvote")
   });
</script>
