<div class="comment">
    <div class="topwrap">
      <div class="post">
      <div class="userinfo pull-left">
        <span class="upvote">

<!-- If member is signed in, they can upvote and see whether they have upvoted.
If they are not signed in, they can only see how many upvotes -->
          <% if member_signed_in? %>
            <%= link_to (vote_comment_path(comment)), :class => "can_vote", :method => "put", :remote => true do %>
              <i class="fa fa-caret-up fa-3x<% if current_member.voted_for?(comment) %> voted <% end %>"></i>
            <%end%>
          <% else %>
            <i class="fa fa-caret-up fa-3x"></i>
          <% end %>

          <span class="upvote-count"><%= comment.get_upvotes.size %></span>
        </span>
      </div>
        <div class="posttext pull-left">
          <p><%= comment.text %></p>
         <div class="posted pull-left">
          by <%= link_to comment.get_commenter_name, member_path(comment.member_id)%>
          <%= time_ago_in_words(comment.created_at) %> ago

        </div>

        <span class="toggle-reply pull-right"> Reply </span>        

        <div class="textwraper reply-form">
          <%= form_tag( {controller: "comments", action: "create"}, method: "post") do %>
            <%= hidden_field_tag(:post_id, comment.post_id) %>
            <%= hidden_field_tag(:parent_id, comment.id) %>
            <%= text_area_tag 'text' %>
            <%= submit_tag "Reply", class: 'btn btn-primary pull-left' %>
          <% end %>
        </div>
      </div>
    <div class="clearfix"></div>

    </div>

  </div>


  <%= render partial: "comment", collection: comment.replies %>
</div>
