<div class="post">



  <!-- POST -->
     <div class="post">
         <div class="wrap-ut pull-left">
             <div class="userinfo pull-left">
                 <p> Upvotes: <span class="upvote-post"> <%= post.get_upvotes.size %> </span></p>
                 <% if member_signed_in? %>
                   <%= link_to (current_member.voted_for?(post) ? "Unvote" : "Upvote"), vote_post_path(post), :class => "upvote", :method => "put", :remote => true %>
                 <% end %>
             </div>
             <div class="posttext pull-left">
                 <% if !post.url.empty? %>
                   <h2><%= link_to post.title, post.url %></h2>
                 <% else %>
                   <h2><%= link_to post.title, post_path(post.id) %></h2>
                 <% end %>
                 <% if !post.tags.empty? %>
                 Tagged:
                   <% post.tags.each do |tag| %>
                   <%= tag.name %>
                   <% end %>
                 <% end %>
               <p><%= post.text %> </p>
               <p> Username: <%= post.member.username if post.member %> </p>
               <% if current_member %>
                 <% if current_member.admin? || (post.member_id == current_member.id) %>
                   <%= link_to "Edit", edit_post_path(post.id) %>
                   <%= link_to "Delete", post_path(post.id), method: :delete %>
                 <% end %>
               <% end %>
               <%= link_to "Comments", post_path(post.id) %>
             </div>
             <div class="clearfix"></div>
         </div>
         <div class="postinfo pull-left">
             <div class="comments">
                 <div class="commentbg">
                     89
                     <div class="mark"></div>
                 </div>

             </div>
             <div class="views"><i class="fa fa-eye"></i> 1,568</div>
             <div class="time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(post.created_at) %></div>
         </div>
         <div class="clearfix"></div>
     </div><!-- POST -->




</div>

<script>
$('.upvote')
 .on('ajax:error', function () {
   $(this).after('<div>There was an upvote issue.</div>');
 }).on('ajax:success', function (res, data) {
   var $this = $(this)
   $this.closest('.post').find('.upvote-post').text(data.vote_count)
   var current_text = $this.text()
   $this.text(data.voted_for ? "Unvote" : "Upvote")
 });
</script>
