<!-- POST -->
<div class="row clean-post" data-sr>
  <!-- UPVOTE -->
  <div class="col-md-1">
      <span class="upvote">
       <% if member_signed_in? %>
          <%= link_to (vote_post_path(post)), :class => "can_vote", :method => "put", :remote => true do %>
            <i class="fa fa-caret-up fa-3x<% if current_member.voted_for?(post) %> voted <% end %>"></i>
          <%end%>
        <% else %>
          <i class="fa fa-caret-up fa-3x"></i>
        <% end %>
       <p class="upvote-count"><%= post.get_upvotes.size %></p>
     </span>
  </div><!-- /// UPVOTE -->

  <div class="col-md-11">
    <h4><%= link_to post.title, post_path(post.id) %></h4>
    <div class="post-description">
      <% if !post.url.empty? %>
        <p> <%= link_to "(link)", post.url, target: "_blank" %> </p>
      <% end %>
      <p><%= post.text %></p>
    </div>
     <% if !post.tags.empty? %>
      Tagged: <%=raw tag_links(post.tag_list) %>
     <% end %>

    <!-- TODO accomodate deleted user? #devproblems-->
    <!-- POST METADATA -->
   <p class="post-metadata"> 
    by <%= link_to post.member.username, member_path(post.member_id) if post.member %>
    <%= time_ago_in_words(post.created_at) %> ago. <%= link_to (post.comment_count.to_s + " comments."), post_path(post.id) %>
    
    <% if !post.text.empty? %>
      <span class="pull-right toggle-description">More <b class="fa fa-caret-down"></b></span>
    <% end %>
   </p>

    <!-- /// POST METADATA -->
  </div>

</div>




