<div class="post">
  <% if post.url %>
    <%= link_to post.title, post.url %>
  <% else %>
    <%= post.title %>
  <% end %>

  <p><%= post.text %> </p>
  <p> Upvotes: <%= post.upvote_count %>. Created: <%= post_time_ago(post) %> </p>
  <p> Username: <%= post.member.email %> </p>

  <% if post.member_id == current_member.id %>
    <%= link_to "Edit", edit_post_path(post.id) %>
    <%= link_to "Delete", post_path(post.id), method: :delete %>
  <% end %>

  <% if member_signed_in? %>
    <%= link_to "Upvote", post_upvotes_path(post), :remote => true, :method => "post" %>
  <% end %>
</div>
