<div class="post">
  <% if !post.url.empty? %>
    <h2><%= link_to post.title, post.url %></h2>
  <% else %>
    <h2><%= post.title %></h2>
  <% end %>

  <p><%= post.text %> </p>
  <p> Upvotes: <%= post.get_upvotes.size %>. Created: <%= time_ago_in_words(post.created_at) %> </p>
  <p> Username: <%= post.member.email %> </p>
  <% if current_member %>
    <% if post.member_id == current_member.id %>
      <%= link_to "Edit", edit_post_path(post.id) %>
      <%= link_to "Delete", post_path(post.id), method: :delete %>
    <% end %>
  <% end %>

  <% if member_signed_in? %>
    <%= link_to "Upvote", vote_post_path(post), :method => "put" %>
  <% end %>
</div>
