<!-- POST -->
<div class="row clean-post" data-sr>
  <!-- UPVOTE -->
  <div class="col-md-1 col-xs-2">
    <div class="center">
       <% if member_signed_in? %>
          <%= link_to (vote_post_path(post)), :class => "can_vote", :method => "put", :remote => true do %>
            <i class="fa fa-caret-up fa-3x<% if current_member.voted_for?(post) %> voted <% end %>"></i>
          <%end%>
        <% else %>
          <i class="fa fa-caret-up fa-3x"></i>
        <% end %>
       <p class="upvote-count"><%= post.get_upvotes.size %></p>
   </div>
  </div><!-- /// UPVOTE -->

  <div class="col-md-11 col-xs-10">
    <% if !post.url.empty? %>
      <h4><%= link_to post.title, post.url, target: "_blank" %></h4>
    <% else %>
      <h4><%= link_to post.title, post_path(post.id) %></h4>
    <% end %>
    <div class="post-description">
      <p><%= post.text %></p>
    </div>

    <!-- TODO accomodate deleted user? #devproblems-->
    <!-- POST METADATA -->
   <p class="post-metadata"> 
    <% if !post.tags.empty? %>
      Tagged: <%=raw tag_links(post.tag_list) %><br>
    <% end %>
    by <%= link_to post.member.username, member_path(post.member_id) if post.member %>
    <% if !post.member.location.empty? %>
      <i class="fa fa-map-marker"></i> <%= post.member.location %>,
    <% end %>

    <%= time_ago_in_words(post.created_at) %> ago. <%= link_to (post.comment_count.to_s + " comments."), post_path(post.id) %>
    
    <% if current_member && (current_member.admin? || (post.member_id == current_member.id)) %>
      <%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: "Deleting this post will delete all of its comments too. \nAlso there's no going back. \nAre you sure you want to delete it?" } %>
    <% end %>

    <% if !post.text.empty? %>
      <span class="pull-right toggle-description">More <b class="fa fa-caret-down"></b></span>
    <% end %>
   </p>

    <!-- /// POST METADATA -->
  </div>

</div>




