<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
          <!-- POST -->
            <div class="post">
                <div class="topwrap">

                  <div class="userinfo pull-left">
                    <div class="upvote">
                      <% if member_signed_in? %>
                         <%= link_to (vote_post_path(@post)), :class => "can_vote", :method => "put", :remote => true do %>
                           <i class="fa fa-caret-up fa-2x<% if current_member.voted_for?(@post) %> voted <% end %>"></i>
                         <%end%>
                      <% else %>
                        <i class="fa fa-caret-up fa-2x"></i>
                      <% end %>
                     <span class="upvote-count"><%= @post.get_upvotes.size %></span>
                   </div>
                 </div>
                    <div class="posttext pull-left">
                        <h2><%= @post.title %></h2>
                        <p><%= @post.text %></p>

                        <div class="posted pull-left">
                          by <%= link_to @post.member.username, member_path(@post.member_id) %>
                          <%= time_ago_in_words(@post.created_at)%> ago
                        </div>
                        
                        <!--THIS NEEDS STYLING CAUSE I JUST TOOK FROM BOOTSTRAP STUFF AND STUFFED IT -->

                        <% if flash[:error] %>
                          <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong><%=flash[:error]%></strong> 
                          </div>
                        <% end %>
                        
                     <!-- DEFAULT COMMENT -->
                        <div class="posttext pull-left">
                            <div class="textwraper post-comment-form">
                                <%= form_for [@post, @comment] do |f| %>
                                <%= f.text_area :text, placeholder: "Type your comment here", class: "text-area" %>
                                <%= f.submit class: 'btn btn-primary' %>
                                <% end %>
                            </div>
                        </div>
                     <!-- /// DEFAULT COMMENT -->

                      </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- POST -->

          <!-- START COMMENTS -->
          <div id="comments">
            <%= render partial: "comment", collection: @comments %>
          </div>
        </div>
    </div>
  </div>






