<!DOCTYPE html>
<html>
  <head>
    <title>ShinyIronman</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container-fluid">

            <!-- //Slider -->

            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form action="#" method="post" class="form">
                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                                    <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left">
                                <form action="03_new_topic.html" method="post" class="form">
                                    <button class="btn btn-primary">Start New Topic</button>
                                </form>
                            </div>
                            <div class="env pull-left"><i class="fa fa-envelope"></i></div>

                            <div class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="#"><i class="fa fa-user fa-3x"></i></a> <b class="caret"></b>
                                <div class="status green">&nbsp;</div>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Inbox</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Log Out</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-4" href="04_new_account.html">Create account</a></li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <li><%= link_to('Posts', posts_path, :method => :get) %><li>
    <% if member_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_member_session_path, :method => :delete) %>
      </li>
      <li>
        <%= link_to('Profile', member_path(current_member.id), :method => :get) %>
      </li>
      <% if current_member.admin? %>
        <li>
          <%= link_to('Admin panel', members_path, :method => :get) %>
        </li>
      <% end %>
    <% else %>
      <li>
        <%= link_to('Login', new_member_session_path)  %>
      </li>
    <% end %>

    <%= yield %>
    <script>
      window.sr = new scrollReveal();
    </script>
</div>
  </body>
</html>
