  <!-- COFFEES -->
  <div class="row coffees">

    <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
      <!-- TODO if !@coffees_invited_to, then say something like start posting to get attention -->
      <!-- if !@coffees_waiting_for show me a random post in my area? -->
      <h2>Coffee (invited to) </h2>
      <hr>
        <%= render partial: "coffees_incoming", collection: @coffees_invited_to, as: :coffee %>
        
    </div>
    <div class="col-lg-5 col-md-5">
      <h2>Coffee (waiting on) </h2>
      <hr>
      <%= render partial: "coffees_outgoing", collection: @coffees_waiting_for, as: :coffee %>
    </div>

  </div>
  <!-- /// COFFEES -->

  <!-- MY POSTS -->
<div class="row">
  <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
    <h2>My Posts </h2>
    <%= render partial: "posts/form" %>
    <% if @posts.empty? %>
      You haven't posted anything yet! <br>
      <%= link_to "Create a post", "#myModalpost", "data-toggle" => "modal" , class: "btn btn-main btn-pad-top" if member_signed_in? %>
    <% else %>
      <%= link_to "Create a post", "#myModalpost", "data-toggle" => "modal" , class: "btn btn-main" if member_signed_in? %>
      <div class="post-wrap">
        <%= render partial: "posts/post", collection: @posts %>
      </div>
    <% end %>
  </div>
  <!-- /// MY POSTS -->


  <!-- SIDEBAR  -->
  <div class="col-lg-5 col-md-5">
    <h2>Shared Coffees</h2>
    <!-- PEOPLE I MET -->
       <!-- THIS SHOULD GO ELSEWHERE -->

      <div class="blocktxt">
        <% if @coffees %>
          <% @coffees.each do |coffee| %>
            <% if coffee.confirmed %>
            <%= link_to  "#{coffee.had_coffee_with(current_member).fullname}", member_path(coffee.had_coffee_with(current_member).id)  %> || <%=coffee.had_coffee_with(current_member).email %> <br> 
            <% end %>
          <% end %>
        <% end %> 
      </div>
    </div>

  <% if current_member.invitation_limit > 0 %>
    <div class="col-lg-5 col-md-5">
      <div class="email-invite">
        Invite your friends to the Shine Code!<br>
         You have <%= current_member.invitation_limit %> new member invitations left.
          <%= simple_form_for(Member.new, url: member_invitation_path) do |f| %>
            <%= f.email_field :email, placeholder: 'Email to send invite to', label: false %>
            <%= f.button :submit , "Invite!"%>
          <% end %>
      </div>
    <% end %>
    </div>
    <!-- /// PEOPLE I MET -->
</div>
