<div class="container">
  <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="coffees invited-to">
          <% if @coffees_invited_to %>
            <h1>Coffees I am invited to</h1>
            <% @coffees_invited_to.each do |coffee| %>
              
              <div id ="coffee-<%=coffee.id%>">
              <% unless coffee.confirmed || coffee.invitee_hide %>
              <hr>
                <i class="fa fa-coffee fa-2x"></i>
                <strong><%= link_to "#{Member.find(coffee.inviter_id).fullname || Member.find(coffee.inviter_id).username}", member_path(coffee.inviter_id) %></strong> invited you for coffee! <br>
                
                <% if coffee.accepted == nil %>
                  She says: <%= coffee.invite_blurb %> <br>
                  <strong><%= Member.find(coffee.inviter_id).email%></strong><br>
                  <%= link_to "Reply to Invite!", "#myModaledit", "data-toggle" => "modal" , id: coffee.id , :class => 'reply-to'%><br>
                <% elsif coffee.accepted == true %>
                   Accepted <%= coffee.updated_at.strftime("%m/%d/%Y") %> <br>
                   <%= link_to "Confirm", "#myModalconfirm", "data-toggle" => 
                   "modal", :class => 'confirm-to', id: coffee.id %> 
                 <% else %>
                   You declined. 
                   <%= link_to "Remove", remove_from_profile_member_coffeemeet_path(coffee.inviter_id, coffee.id), :class =>"remove-coffee", :id => "coffee-#{coffee.id}", :method => "put" %>
                <% end %>
              <br>
            <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="coffees pending">
          <h1>Coffees I have invited</h1>

          <% if @coffees_waiting_for %>
            <% @coffees_waiting_for.each do |coffee| %>
            

              <div>
              
              <% unless coffee.confirmed || coffee.inviter_hide %>
              <hr>
                <i class="fa fa-coffee fa-2x"></i>
                <% if coffee.accepted %>
                
                      <strong><%= link_to "#{Member.find(coffee.invitee_id).fullname || Member.find(coffee.invitee_id).username}", member_path(coffee.invitee_id) %></strong> accepted your coffee invitation @ <%= coffee.updated_at.strftime("%m/%d/%Y") %> <br>
                       <%= coffee.invite_accept %><br>
                      <%= link_to "Confirm", "#myModalconfirm", "data-toggle" => 
                   "modal", :class => 'confirm-to', id: coffee.id %> where you guys met! <br>
                <% elsif coffee.accepted == false %>
                  <strong><%= link_to "#{Member.find(coffee.invitee_id).fullname || Member.find(coffee.invitee_id).username}", member_path(coffee.invitee_id) %></strong> declined your coffee invitation @ <%= coffee.updated_at.strftime("%m/%d/%Y") %> <br>  
                  <%= coffee.invite_accept %>
                  <%= link_to "Remove", remove_from_profile_member_coffeemeet_path(coffee.inviter_id, coffee.id), :class =>"remove-coffee", :id => "coffee-#{coffee.id}", :method => "put" %>
                <% else %>
                   You invited <strong><%= link_to "#{Member.find(coffee.invitee_id).fullname || Member.find(coffee.invitee_id).username}", member_path(coffee.invitee_id) %></strong> for coffee!<br>
                      Waiting for response <br>
                      invited on <%=coffee.created_at.strftime("%m/%d/%Y") %>
                <% end %>
              <% end %>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>


<!-- POST -->

<div class="col-lg-8 col-md-8">
  <div class="post">
      <div class="wrap-ut pull-left">
          <div class="userinfo pull-left">
              <div class="avatar">
                  <img src="images/avatar.jpg" alt="">
                  <div class="status green">&nbsp;</div>
              </div>

              <div class="icons">
                  <img src="images/icon1.jpg" alt=""><img src="images/icon4.jpg" alt="">
              </div>
          </div>
          <div class="posttext pull-left">
              <h2><a href="02_topic.html">10 Kids Unaware of Their Halloween Costume</a></h2>
              <p>It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.</p>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="postinfo pull-left">
          <div class="comments">
              <div class="commentbg">
                  560
                  <div class="mark"></div>
              </div>

          </div>
          <div class="views"><i class="fa fa-eye"></i> 1,568</div>
          <div class="time"><i class="fa fa-clock-o"></i> 24 min</div>                                    
      </div>
      <div class="clearfix"></div>
  </div>
</div>
<!-- /// POST -->


<!-- SIDEBAR  -->
<div class="col-lg-4 col-md-4">

  <!-- PEOPLE I MET -->
  <div class="sidebarblock">
    <h3>People I met</h3>
    <div class="blocktxt">
      <% if @coffees %>
        <% @coffees.each do |coffee| %>
          <% if coffee.confirmed %>
          <%= link_to  "#{coffee.had_coffee_with(current_member).fullname}", member_path(coffee.had_coffee_with(current_member).id)  %> || <%=coffee.had_coffee_with(current_member).email %> <br> 
          <% end %>
        <% end %>
      <% end %> 
    </div>
  </div>
  <!-- /// PEOPLE I MET -->


  <!-- MY POSTS -->
  <div class="sidebarblock">
      <h3>My Posts <span class="pull-right"> <%= link_to "Create a post", new_post_path %></span></h3>
      <div class="divline"></div>

      <% @posts.each do |post| %>
        <div class="blocktxt">
          <%= post.get_upvotes.count %> <%= link_to post.title, post_path(post.id) %> </a>
        </div>
        <div class="divline"></div>
      <% end %>
  </div>
  <!-- /// MY POSTS -->
</div>
