<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div id="name">
          <%= @member.fullname %>
        </div>
        <div id="username">
          <%= @member.username %>
        </div>
        <div id="blurb">
          <%= @member.blurb %> 
        </blurb>

      </div>
    </div>
      <div class="col-lg-4 col-md-4">
        <div class="stats">
          <% if current_member == @member %>
            <span class="pull-right"><%= link_to "Edit Profile", edit_member_path(current_member.id) %></span>
          <% end %>
          <div><i class="fa fa-star-o"> Reputation: <%= @member.reputation %> </i></div>
          <div><i class="fa fa-coffee"> Coffees: <%= @member.coffeepoints %></i></div>
        </div>
        <% if @member.open_to_irl %>
          <div class="coffee-invite">
            <div id="open-to-irl"> Up for coffee IRL in <strong><%= @member.location %></strong> </div>
            <div id="fave-coffee"> Fave coffee drink: <%= @member.fave_coffee %> </div>

            <% if current_member != @member %>
              <%= button_to "Invite for coffee!", new_member_coffeemeet_path(@member.id), class: "btn", method: "get" %>
              <%= link_to "Invite for coffee!", new_member_coffeemeet_path(@member.id) unless current_member == @member %>
            <% else %>
            <br>
             You have <%= current_member.invitation_limit %> new member invitations left. <br>
              <%= form_for(Member.new, url: member_invitation_path) do |f| %>
                <%= f.email_field :email, placeholder: 'Email to send invite to', label: false %>
                <%= f.button :submit %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p> Not open to coffee-meets IRL </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
