<%=@member.username%> 's profile <br><br>
<% if current_member == @member %>
Hi <%=current_member.username%>
<br>
You've been to <%=current_member.coffeepoints %> coffees <br>
You have <%=current_member.reputation %> rep points <br>
you have <%=current_member.invitation_limit %> invitations left. <br>
About me: <%= current_member.blurb %> <br>
Open to IRL coffees: <%= current_member.open_to_irl ? "Yes" : "No" %> <br>
<%= current_member.fave_coffee %><br>
<%= link_to "Edit Profile", edit_member_path(current_member.id) %><br>
  <%= form_for(Member.new, url: member_invitation_path) do |f| %>
    <%= f.email_field :email, placeholder: 'Email to send invite to', label: false %>
    <%= f.button :submit %>
  <% end %>
<% end %>
 <br>
 <% if flash[:notice] %>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong><%=flash[:notice]%></strong> 
  </div>
<% end %>
<%= link_to "Invite for coffee!", new_member_coffeemeet_path(@member.id) unless current_member == @member %>
<%= link_to "Create a post", new_post_path %><br>


<% if current_member == @member %>
  <% if @coffees_invited_to %>
    <em>Coffees I'm invited to:</em> <br>
    <% @coffees_invited_to.each do |coffee| %>
      <div id ="coffee-<%=coffee.id%>">
      <% unless coffee.confirmed || coffee.invitee_hide %>
        <strong><%= Member.find(coffee.inviter_id).username%></strong>
        <strong><%= Member.find(coffee.inviter_id).email%></strong><br>
        

        <% if coffee.accepted == nil %>
        <%= coffee.invite_blurb %>
        <%= link_to "Reply to Invite!", edit_member_coffeemeet_path(coffee.inviter_id, coffee.id) %><br>
        <% elsif coffee.accepted == true %>
         Accepted <%= coffee.updated_at.strftime("%m/%d/%Y") %> <br>
         <%= link_to "Confirm", edit_member_coffeemeet_path(coffee.inviter_id, coffee.id) %> where you guys met!
         <% else %>
         You declined. 
         <%= link_to "Remove", remove_from_profile_member_coffeemeet_path(coffee.inviter_id, coffee.id), :class =>"remove-coffee", :id => "coffee-#{coffee.id}", :method => "put" %>
       <% end %>
    <br><% end %>
      </div>
    <% end %>
  <% end %>
  <hr>

   
   <em>Coffees I'm waiting on:</em><br>
  <% if @coffees_waiting_for %>
    <% @coffees_waiting_for.each do |coffee| %>
      <div>
      
      <% unless coffee.confirmed || coffee.inviter_hide %>
        <strong><%= Member.find(coffee.invitee_id).username%><br></strong>
        <% if coffee.accepted %>
              Accepted! @ <%= coffee.updated_at.strftime("%m/%d/%Y") %><br>
               <%= coffee.invite_accept %>
              <%= link_to "Confirm", edit_member_coffeemeet_path(coffee.inviter_id, coffee.id) %> where you guys met! <br>
        <% elsif coffee.accepted == false %>
          Declined.  
          <%= coffee.invite_accept %>
          <%= link_to "Remove", remove_from_profile_member_coffeemeet_path(coffee.inviter_id, coffee.id), :class =>"remove-coffee", :id => "coffee-#{coffee.id}", :method => "put" %>
        <% else %>
              Waiting for response <br>
              invited on <%=coffee.created_at.strftime("%m/%d/%Y") %>
        <% end %>
      <% end %>
      </div><hr>
    <% end %>
  <% end %>

  <em>People I met: </em><br> 
  <% if @coffees %>
    <% @coffees.each do |coffee| %>
      <% if coffee.confirmed %>
      <%= link_to  "#{coffee.had_coffee_with(current_member).username}", member_path(coffee.had_coffee_with(current_member).id)  %> || <%=coffee.had_coffee_with(current_member).email %> <br> 
      <% end %>
    <% end %>
  <% end %>  

<% end %>


<%= render partial: "posts/post", collection: @posts %>

<script>
  $('.remove-coffee').on('click', function() {
    $(this).remove();
    var coffee = this.id
    $('#'+ coffee).remove();
  });
</script>

